body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.outer  {
    margin: 0;
    padding: 0;
}

.intro {
    text-align: center;
    padding-left: 20vh;
    padding-right: 20vh;
    padding-bottom: 7rem;
    padding-top: 5rem;
}

.description {
    font-size: 1.25rem;
}

.article {
    position: relative;
    text-align: center;
    overflow: hidden;
}

.image-container {
    height: 100%;
    position: relative;
    overflow: hidden;
}

.image-container:hover .image{
    -webkit-filter: blur(4px);
    filter: blur(4px);
}

.image {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.header {
    font-size: 80px;
    color: white;
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: fit-content;
    margin: auto;
}

.article-description {
    font-size: 1.25rem;
    text-align: center;
    padding-left: 20vh;
    padding-right: 20vh;
    padding-top: 20px;
    padding-bottom: 50px;
}

@media (max-width: 600px) {
    .intro {
        padding-left: 10vh;
        padding-right: 10vh;
    }

    .article-description {
        padding-left: 10vh;
        padding-right: 10vh;
    }
}
